* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --center: center;
    --margin: 50%;
}
body {
    background-color: mistyrose;
}
.funbutton, #fun {
    background-color: lightpink;
    border: 0px;
    padding: 15px;
    border-radius: 15px;
}
#fun:hover {
    background-color: lightsalmon;
    transition: .7s;
}

.header {
    text-align: center;
}

.allq, #revealQ {
    display:none;
    text-align:center;
}

.allq > div > input{
    display: flex;
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 20px;
    font-size: 16px;
}

.allq > div > input:hover{
    background-color: burlywood; 
    transition: .7s;
}
/* .correct { */
    /* background-color:lightsalmon; */
    /* transition: 0.2s; */

#secondq {
    display:none;
}
#thirdq {
    display:none;
}
#fourthq {
    display:none;
}
#fifthq {
    display:none;
}
#correctA {
    display:none;
    font-family:'Courier New', Courier, monospace;
    color:grey;
    font-style:italic;
}
#wrongA {
    display:none;
    font-family:'Courier New', Courier, monospace;
    color:grey;
    font-style:italic;
}